body{
    color: #618fcf;
    font-size: 30px;
    margin-left: 6%;
    margin-right: 6%;
}

.topnav ul {
    display: flex;
    gap: 40px;
    float: right;
    margin-top: -40px;
}

.topnav h4 {
    margin-bottom: 20px;
    font-size: 30px;
}

.topnav ul li {
    text-decoration: none;
    list-style: none;
}

.topnav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #a2bce0 ;
}

.topnav ul li h4 {
    float: left;
}




.icons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.main{
    display: flex;
    gap: 20%;
}
#mainimg{
    width: 700px;
}
.text{
    font-size: 60px;
    color: #223A59;
}
.red{
    color: #D7082A;
}
input{
    padding: 15px 100px;
    border-radius: 30px;
    border-color: white;

}

.loginbtn{
    font-weight: bolder;
    color: #D7082A;
    padding: 10px 30px;
    border-radius: 20px;
    border:solid 2px  #D7082A;
}
.joinbtn{
    font-weight: bolder;
    background-color: #D7082A;
    padding: 10px 30px;
    border-radius: 20px;
   color: white;
   border:solid 2px  #D7082A;
   
}

.explorebtn{
    font-weight: bolder;
    background-color: #D7082A;
    padding: 0px 30px;
    border-radius: 30px;
   color: white;
   border:solid 2px  #D7082A;
   transform: translate(-80%,-5%);
   height: 40px;
}
.skills{
    display: flex;
}
.subscription{
    display: flex;
}


/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        color: #a2bce0;
        font-size: 15px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .topnav ul {
        flex-direction: column;
        gap: 8px;
    }

    .topnav h4 {
        font-size: 23px;
    }

    .topnav ul li a {
        font-size: 16px;
    }

    .loginbtn{
        font-weight: bolder;
        color: #D7082A;
        padding: 5px 20px;
        border-radius: 20px;
        border-color: #D7082A ;
        
    }
    .joinbtn{
        font-weight: bolder;
        background-color: #D7082A;
        padding: 5px 10px;
        border-radius: 20px;
       color: white;
       
       
    }
    .explorebtn{
        font-weight: bolder;
        background-color: #D7082A;
        padding: 5px 10px;
        border-radius: 20px;
       color: white;
       transform: translate(-50%,-8%);
       height: 45px;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
    }
    input{
        padding: 15px 50px;
        border-radius: 30px;
        border-color: white;
    }
    #mainimg{
        width: 300px;
    }
    .text{
        font-size: 40px;
        color: #223A59;
    }
    .skills{
        display: flex;
    
    }
}


@media screen and (max-width:1024px) and (min-width:820px){

    body{
        font-size: 30px;
    }
    .topnav ul {
        font-size: 30px;

    }
   #mainimg{
    width: 350px;
    
   }
   .topnav ul li a {
    font-size: 20px;
    padding-bottom: 250px;
}
.topnav h4 {
    font-size: 16px;
}
input{
    padding: 15px 15px;
    border-radius: 30px;
    border-color: white;
}
.loginbtn{
    font-weight: bolder;
    color: #D7082A;
    padding: 8px 20px;
    border-radius: 20px;
    border:solid 2px  #D7082A;
}
.joinbtn{
    font-weight: bolder;
    background-color: #D7082A;
    padding: 10px 20px;
    border-radius: 20px;
   color: white;
   border:solid 2px  #D7082A;
   
}
.explorebtn{
    font-weight: bolder;
    background-color: #D7082A;
    padding: 4px 30px;
    border-radius: 40px;
   color: white;
   transform: translate(-50%,-8%);
}
.main{
    display: flex;
    gap: 15%;
}
.topnav{
    margin-bottom: 7%;
}
}